*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


img{
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}

img:hover{
    transform: scale(1.1);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    border-bottom: 3px solid pink;
    width: 130px;
    margin-left: 78px;
    text-align: left;
    border-right: 5px solid pink;
    margin-bottom: 20px;
}